h1 {
    text-align: center;
    margin-top: 40px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.container-el {
    margin-right: 40px;
    font-size: 25px;
}